@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-teal: #0d9488;
  --color-teal-dark: #0f766e;
  --color-teal-light: #5eead4;
}

body, .navbar, .btn, .card, input, textarea, select {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

.bg-teal { 
    background-color:  var(--color-teal) !important; 
}

.text-teal {
    color:  var(--color-teal) !important;
}

.btn-primary.bg-teal:hover {
    background-color:  var(--color-teal-dark) !important;
}

.btn-primary.bg-teal:disabled {
    background-color:  var(--color-teal-light) !important;
    opacity: 0.6;
    color: black
}

.modal-background {
  background: rgba(0,0,0,0.4);
}

